main {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52vh;
  width: 100%;
  background-color: transparent;
}

.mainPhoto {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100%;
  border: solid 1px black;
  border-radius: 50px;
  background-color: antiquewhite;
  color: #222;
}

.divLeft {
  position: absolute;
  padding-left: 20px;
  width: 40px;
  height: 30px;
  transform: translate(-450px, 220px);
}

.divLeft:hover {
  cursor: pointer;
}

.divRight {
  position: absolute;
  width: 40px;
  height: 30px;
  transform: translate(450px, 220px);
}

.divRight:hover {
  cursor: pointer;
}

a.b-left {
  position: absolute;
  width: 3%;
  height: 5%;
  background-color: transparent;
  filter: blur(8px);
  border-radius: 100%;
}

a.b-right {
  position: absolute;
  width: 3%;
  height: 5%;
  background-color: transparent;
  filter: blur(3px);
  border-radius: 100%;
}

div.photos .right-i {
  position: absolute;
}

div.photos .left-i {
  position: absolute;
}

.photos .imageViewBlur {
  margin: 0 280px 0 280px;
  border: solid 1px black;
  border-radius: 50px;
  filter: blur(2px);
}

.imageView {
  z-index: 1000;
}

@keyframes goToLeft {
  0% {
    transform: translate(0px, 0px);
  }

  100% {
    transform: translate(-710px, 0px);
  }
}

@keyframes goToRight {
  0% {
    transform: translate(0px, 0px);
  }

  100% {
    transform: translate(710px, 0px);
  }
}